section.blog
    .container.container--blog
        .section__titles.section__titles__blog
            .section__titles-left
                .section__overtitle
                    p.section__overtitle-text Последние записи
                    .section__overtitle-line

                .section__title
                    h3.section__title-title Блог агентства

            .section__titles__decoration-right-text-block
                p.section__titles__decoration-right-text
                    | Читайте полезное интересное бла бла бла блабла бла
                    | бла бла бла бла бла не пропускайте последние обновления

            .section__titles__decoration-right.section__titles__decoration-right--blog
                a.about-us__right-side-read-more.about-us__right-side-read-more--blog-top( href="blog.html" )
                    svg.for-button-hover-svg( viewBox="0 0 204 204" )
                        circle.for-button-hover-svg-pointer.for-button-hover-svg--blog-top( cx="102" cy="102" r="102" fill="transparent" )

                    .about-us__right-side-read-more-circle.about-us__right-side-read-more-circle--black.services__read-more--black-border.about-us__right-side-read-more-circle--blog-top

                    .about-us__right-side-read-more-content
                        p.about-us__right-side-read-more--black
                            span Перейти
                            | в блог
                        img.about-us__right-side-read-more-image(
                            src="assets/images/index/blog/arrow-black.svg" alt="Черная стрелка"
                            width="23" height="23"
                        )

        .blog__items-block
            ul.blog__items-list
                li.blog__items-item
                    img.blog__items-item-image(
                        src="assets/images/index/blog/item-1.jpg" alt="Фото ноутбука"
                        width="334" height="386"
                    )
                    .blog__items-item-block
                        .blog__items-item-visible-block
                            .blog__items-item-visible-block-top
                                p.blog__items-item-visible-block-top-title SMM
                                .blog__items-item-visible-block-top-circle
                                time( datetime="2023-01-23" ).blog__items-item-visible-block-top-date 4 января 2023
                            .blog__items-item-visible-block-body
                                p.blog__items-item-visible-block-body-text
                                    | Важность ведения страниц вашего бизнеса в социальных сетях
                                a.blog__items-item-hidden-block-body-read-block( href="#" )
                                    p.blog__items-item-hidden-block-body-read-text Читать статью
                                    img.blog__items-item-hidden-block-body-read(
                                        src="assets/images/index/blog/arrow-salad.svg" alt="Черная стрелка"
                                        width="14" height="14"
                                    )

                li.blog__items-item
                    img.blog__items-item-image(
                        src="assets/images/index/blog/item-2.jpg" alt="Фото ноутбука"
                        width="334" height="386"
                    )
                    .blog__items-item-block
                        .blog__items-item-visible-block
                            .blog__items-item-visible-block-top
                                p.blog__items-item-visible-block-top-title SMM
                                .blog__items-item-visible-block-top-circle
                                time( datetime="2023-01-23" ).blog__items-item-visible-block-top-date 4 января 2023
                            .blog__items-item-visible-block-body
                                p.blog__items-item-visible-block-body-text
                                    | Важность ведения страниц вашего бизнеса в социальных сетях
                                a.blog__items-item-hidden-block-body-read-block( href="#" )
                                    p.blog__items-item-hidden-block-body-read-text Читать статью
                                    img.blog__items-item-hidden-block-body-read(
                                        src="assets/images/index/blog/arrow-salad.svg" alt="Черная стрелка"
                                        width="14" height="14"
                                    )

                li.blog__items-item
                    img.blog__items-item-image(
                        src="assets/images/index/blog/item-3.jpg" alt="Фото ноутбука"
                        width="334" height="386"
                    )
                    .blog__items-item-block
                        .blog__items-item-visible-block
                            .blog__items-item-visible-block-top
                                p.blog__items-item-visible-block-top-title SMM
                                .blog__items-item-visible-block-top-circle
                                time( datetime="2023-01-23" ).blog__items-item-visible-block-top-date 4 января 2023
                            .blog__items-item-visible-block-body
                                p.blog__items-item-visible-block-body-text
                                    | Важность ведения страниц вашего бизнеса в социальных сетях
                                a.blog__items-item-hidden-block-body-read-block( href="#" )
                                    p.blog__items-item-hidden-block-body-read-text Читать статью
                                    img.blog__items-item-hidden-block-body-read(
                                        src="assets/images/index/blog/arrow-salad.svg" alt="Черная стрелка"
                                        width="14" height="14"
                                    )

        .blog__telegram
            a.about-us__right-side-read-more.about-us__right-side-read-more--blog-telegram( href="#" )
                svg.for-button-hover-svg( viewBox="0 0 204 204" )
                    circle.for-button-hover-svg-pointer.for-button-hover-svg--blog-telegram( cx="102" cy="102" r="102" fill="transparent" )

                .about-us__right-side-read-more-circle.blog__telegram__right-side-read-more-circle.services__read-more--black-border.about-us__right-side-read-more-circle--blog-telegram

                .about-us__right-side-read-more-content
                    p.about-us__right-side-read-more--black
                        span Читать
                        | в телеграм
                    img.about-us__right-side-read-more-image(
                        src="assets/images/index/blog/telegram.svg" alt="Телеграм"
                        width="31" height="25"
                    )