.intro
    img.intro__decoration-left-circle-image(
        src="./assets/images/intro/intro-decoration-left-circle.svg" alt=""
        width="184" height="384"
    )

    .intro__splider--container.splide( aria-label="Splide Basic HTML Example" )

        .intro__arrow-to-bottom-arrow-block
            .intro__arrow-to-bottom-arrow-block-content
                img.intro__arrow-to-bottom-arrow-image.intro__arrow-to-bottom-arrow-image--black(
                    src="./assets/images/intro/arrow-to-bottom.svg" alt="Стрелка к следующему блоку на сайта"
                    width="16" height="30"
                )
                img.intro__arrow-to-bottom-arrow-image.intro__arrow-to-bottom-arrow-image--white(
                    src="./assets/images/intro/arrow-to-bottom--white.svg" alt="Стрелка к следующему блоку на сайта"
                    width="16" height="30"
                )

        .splide__track
            .splide__list
                .intro__container.splide__slide
                    .intro__container--inner.container
                        .intro__content
                            .intro__content-digital-block
                                .intro__content-digital-text digital
                                .intro__content-digital-line

                            .intro__content-padding-left
                                .intro__content-top
                                    .intro__content-top-title.intro__content-top-title--for-pagination-calibration РАЗРАБОТКА
                                    .intro__content-top-stars-image-block
                                        .intro__content-top-stars-image
                                            img.intro__content-stars-image(
                                                src="./assets/images/intro/intro-stars.svg" alt="Декоративные звезды"
                                                width="61" height="62"
                                            )

                                .intro__content-bottom
                                    .intro__content-text
                                        | Комплексная разработка ярких
                                        | продающих динамичных сайтов
                                        | под ключ для вас и вашего бизнеса
                                    .intro__content-top-title САЙТОВ

                                .intro__content-button-block
                                    button.intro__content-button Подробнее
                                        .intro__content-button-block-images
                                            img.intro__content-button-image(
                                                src="./assets/images/intro/intro-arrow-in-button.svg" alt="Стрелка продолжить в кнопке"
                                                width="68" height="16"
                                            )
                                            img.intro__content-button-image.intro__content-button-image--salad(
                                                src="./assets/images/intro/intro-arrow-in-button--salad.svg" alt="Стрелка продолжить в кнопке"
                                                width="68" height="16"
                                            )

                        .intro__splide-string.intro__splide-string1.splide( aria-label="Splide Basic HTML Example" )
                            .intro__slider-swiper.splide__track
                                .intro__slider-swiper-wrapper.splide__list

                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-1.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-2.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-3.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-1.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-2.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-3.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )

                .intro__container.splide__slide
                    .intro__container--inner.container
                        .intro__content
                            .intro__content-digital-block
                                .intro__content-digital-text digital
                                .intro__content-digital-line

                            .intro__content-padding-left
                                .intro__content-top
                                    .intro__content-top-title ПОСТРОЙКА
                                    .intro__content-top-stars-image-block
                                        .intro__content-top-stars-image
                                            img.intro__content-stars-image(
                                                src="./assets/images/intro/intro-stars.svg" alt="Декоративные звезды"
                                                width="61" height="62"
                                            )

                                .intro__content-bottom
                                    .intro__content-text
                                        | Комплексная разработка ярких
                                        | продающих динамичных сайтов
                                        | под ключ для вас и вашего бизнеса
                                    .intro__content-top-title САЙТОВ

                                .intro__content-button-block
                                    button.intro__content-button Подробнее
                                        .intro__content-button-block-images
                                            img.intro__content-button-image(
                                                src="./assets/images/intro/intro-arrow-in-button.svg" alt="Стрелка продолжить в кнопке"
                                                width="68" height="16"
                                            )
                                            img.intro__content-button-image.intro__content-button-image--salad(
                                                src="./assets/images/intro/intro-arrow-in-button--salad.svg" alt="Стрелка продолжить в кнопке"
                                                width="68" height="16"
                                            )

                        .intro__splide-string.intro__splide-string3.splide( aria-label="Splide Basic HTML Example" )
                            .intro__slider-swiper.splide__track
                                .intro__slider-swiper-wrapper.splide__list

                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-1.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-2.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-3.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-1.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-2.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-3.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )

                .intro__container.splide__slide
                    .intro__container--inner.container
                        .intro__content
                            .intro__content-digital-block
                                .intro__content-digital-text digital
                                .intro__content-digital-line

                            .intro__content-padding-left
                                .intro__content-top
                                    .intro__content-top-title ПОСТРОЕНИЕ
                                    .intro__content-top-stars-image-block
                                        .intro__content-top-stars-image
                                            img.intro__content-stars-image(
                                                src="./assets/images/intro/intro-stars.svg" alt="Декоративные звезды"
                                                width="61" height="62"
                                            )

                                .intro__content-bottom
                                    .intro__content-text
                                        | Комплексная разработка ярких
                                        | продающих динамичных сайтов
                                        | под ключ для вас и вашего бизнеса
                                    .intro__content-top-title САЙТОВ

                                .intro__content-button-block
                                    button.intro__content-button Подробнее
                                        .intro__content-button-block-images
                                            img.intro__content-button-image.intro__content-button-image--black(
                                                src="./assets/images/intro/intro-arrow-in-button.svg" alt="Стрелка продолжить в кнопке"
                                                width="68" height="16"
                                            )
                                            img.intro__content-button-image.intro__content-button-image--salad(
                                                src="./assets/images/intro/intro-arrow-in-button--salad.svg" alt="Стрелка продолжить в кнопке"
                                                width="68" height="16"
                                            )

                        .intro__splide-string.intro__splide-string2.splide( aria-label="Splide Basic HTML Example" )
                            .intro__slider-swiper.splide__track
                                .intro__slider-swiper-wrapper.splide__list

                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-1.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-2.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-3.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-1.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-2.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )
                                    .intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            img(
                                                src="./assets/images/intro/slider-3.jpg"
                                                alt="Ссылка с картинкой на сайте который сделала веб студией"
                                                width="381" height="294"
                                            )