section.products
    img.products__decoration-circle(
        src="assets/images/index/products/circle--big.svg" alt="Декоративные круги"
        width="1085" height="1485"
    )
    img.products__decoration-lines(
        src="assets/images/index/products/decorative-lines.svg" alt="Декоративные круги"
        width="1880" height="1880"
    )

    .container.container--products
        .section__titles.section__titles--white
            .section__titles-left
                .section__overtitle
                    p.section__overtitle-text.section__overtitle-text--white Портфолио
                    .section__overtitle-line

                .section__title
                    h3.section__title-title.section__title-title--white Продукты студии

            .section__titles__decoration-right--white
                img.services__decoration-right-image.products__decoration-right-image(
                    src="assets/images/index/products/decoration-star.svg" alt="Белая звездочка"
                    width="86" height="86"
                )

        .products__gallery
            .products__gallery-items-column-item( data-aos="new-animation" )
                img.products__gallery-items-column-item-top-image.products__gallery-items-column-item-top-image--ribera(
                    src="assets/images/index/products/ribera-title.svg" alt="Логотип компании Ribera"
                    width="310" height="116"
                )
                img.products__gallery-items-column-item-bottom-image.products__gallery-items-column-item-bottom-image--roll(
                    src="assets/images/index/products/ribera-roll.svg" alt="Ролик"
                    width="520" height="300"
                )

            .products__gallery-items-column-item( data-aos="new-animation" )
                .products__gallery-items-column-item-left--hookah
                .products__gallery-items-column-item-right--hookah

                img.products__gallery-items-column-item-top-image--hookah(
                    src="assets/images/index/products/hokah-title.svg" alt="Логотип компании Hookahtrade"
                    width="302" height="30"
                )

            .products__gallery-items-column-item.products__gallery-items-column-item--advance.products__gallery-items-column-item--three( data-aos="new-animation" )
                img.products__gallery-items-column-item-top-image.products__gallery-items-column-item-top-image--advance(
                    src="assets/images/index/products/advance-title.svg" alt="Логотип компании Advance"
                    width="287" height="108"
                )
                img.products__gallery-items-column-item-bottom-image--advance(
                    src="assets/images/index/products/advance-statue.svg" alt="Статую компании Advance"
                    width="484" height="363"
                )

            .products__gallery-items-column-item.products__gallery-items-column-item--494( data-aos="new-animation" )
                img.products__gallery-items-column-item-top-image.products__gallery-items-column-item-top-image--494-title(
                    src="assets/images/index/products/494-title.svg" alt="Логотип автостудии 494"
                    width="218" height="103"
                )
                img.products__gallery-items-column-item-bottom-image.products__gallery-items-column-item-bottom-image--494-car(
                    src="assets/images/index/products/494-car.svg" alt="Машина"
                    width="606" height="311"
                )

            .products__gallery-items-column-item.products__gallery-items-column-item--flagman( data-aos="new-animation" )
                img.products__gallery-items-column-item-top-image.products__gallery-items-column-item-top-image--flagman(
                    src="assets/images/index/products/flagman-buildings.svg" alt="Картинка высоток"
                    width="395" height="230"
                )
                img.products__gallery-items-column-item-bottom-image.products__gallery-items-column-item-bottom-image--flagman(
                    src="assets/images/index/products/flagman-title.svg" alt="Логотип компании Flagman"
                    width="363" height="160"
                )

            .products__gallery-items-column-item.products__gallery-items-column-item--logistic( data-aos="new-animation" )
                img.products__gallery-items-column-item-top-image.products__gallery-items-column-item-top-image--logistic(
                    src="assets/images/index/products/logistic-title.svg" alt="Логотип компании Logistic"
                    width="354" height="113"
                )
                img.products__gallery-items-column-item-bottom-image--logistic(
                    src="assets/images/index/products/logistic-track.svg" alt="Картинка машины"
                    width="437" height="314"
                )

        .products__button-block

            a.fillingButton.fillingButton--products( href="" )
                svg.fillingButton__svg( viewBox="0 0 204 204" )
                    circle.fillingButton__svg-circle.fillingButton__svg-circle--products( cx="102" cy="102" r="102" fill="transparent" )

                .fillingButton__circle.fillingButton__circle--products

                .fillingButton__content
                    p.fillingButton__p
                        span Просмотреть
                        | все