section.benefits
    .container
        .benefits__content
            .benefits__contentTop
                .benefits__contentTopLeft
                    .servisec-list__item
                        .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                            .servisec-list__item-title-span-bg

                        .servisec-list__item-content
                            h1.servisec-list__item-title.servicesTitle.servicesTitle--black
                                span.servisec-list__item-title-span Почему 
                                |  &nbsp;стоит сделать выбор в пользу нашего агентства  

                .benefits__contentTopRight
                    a.fillingButton.fillingButton--benefitsRight( href="" )
                        svg.fillingButton__svg.fillingButton__svg--benefitsRight( viewBox="0 0 160 160" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--benefitsRight( cx="80" cy="80" r="80" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--benefitsRight.fillingButton__circle--black-border

                        .fillingButton__content
                            p.fillingButton__p.fillingButton__p--black
                                span.fillingButton__span--smallMargin-and-partial Консуль
                                | тация


            .benefits__contentMiddle 
                .benefits__contentItems

                    .benefits__contentItem
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/serm/comand.svg" alt="Декоративная картинка" 
                                width=68  height=68
                            )
                            h2.benefits__contentItemTopTitle Команда 
                                br
                                | специалистов

                        .benefits__contentItemMiddle        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | SEO копиратинг, закупка ссылочной массы, мониторинг позиций работа с поведенческими факторами входят в стоимость


                    .benefits__contentItem
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/seo/forecast.svg" alt="Декоративная картинка" 
                                width=67 height=68
                            )
                            h2.benefits__contentItemTopTitle Прогноз
                                br
                                | эффективности 

                        .benefits__contentItemMiddle        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Перед началом сотрудничества мыделаем обязательный базовый аудит вашего сайта и  анализ конкурентов, что дает нам возможность сообщить прогноз дальнейшего продвижения

                    .benefits__contentItem
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/serm/interaction.svg" alt="Декоративная картинка" 
                                width=72 height=68
                            )
                            h2.benefits__contentItemTopTitle 
                                | Контроль
                                br
                                | эффективности
                        
                        .benefits__contentItemMiddle        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Мы внимательно следим за каждым продвигаемым нами проектом, отслеживая реакцию поисковых систем на вносимые на сайте изменения

                    .benefits__contentItem
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/seo/abilities.svg" alt="Декоративная картинка" 
                                width=85 height=68
                            )
                            h2.benefits__contentItemTopTitle Расширенные
                                br
                                | возможности

                        .benefits__contentItemMiddle         

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Дополнительно мы можем провести технический, юзабилити, коммерческий, аудит, анализ безопасности сайта, настройка аналитических сервисов и коллтрекинга
                    
                    .benefits__contentItem
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/seo/lamp.svg" alt="Декоративная картинка" 
                                width=68  height=68
                            )
                            h2.benefits__contentItemTopTitle Опытные 
                                br
                                | сотрудники

                        .benefits__contentItemMiddle        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Весь штат специалистов работающий над продвижением вашего проекта имеет за плечами большой опыт работы в различных тематиках 

                    .benefits__contentItem
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon--marginLeft(
                                src="assets/images/serm/reports.svg" alt="Декоративная картинка" 
                                width=104  height=104
                            )
                            h2.benefits__contentItemTopTitle Предоставляем
                                br
                                | отчеты

                        .benefits__contentItemMiddle        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | По мере продвижения мы предоставляем отчеты о проделанной работе, текущих позициях, изменение относительно прошлых позиций


            .benefits__contentBottom
                a.fillingButton.fillingButton--benefitsBottom( href="" )
                    svg.fillingButton__svg.fillingButton__svg--benefitsBottom( viewBox="0 0 160 160" )
                        circle.fillingButton__svg-circle.fillingButton__svg-circle--benefitsBottom( cx="80" cy="80" r="80" fill="transparent" )

                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--benefitsBottom

                    .fillingButton__content
                        p.fillingButton__p.fillingButton__p--black
                            span.fillingButton__span--smallMargin-and-partial Получ
                            | ить предложение