section.mayToLike
    h1.visibleHidden Вам может понравиться

    .mayToLike__lines
        .mayToLike__line
        .mayToLike__line
        .mayToLike__line

    .container.container--productsOncePage
        img.glowingCircleBottom(
            src="assets/images/projects/glowingCircle.png" alt="Светящийся круг"
            width=863 height=863
            )

        .mayToLike__content

            .mayToLike__contentTop
                .mayToLike__contentTopLeft
                    h2.mayToLike__contentTopLeftTitle.infoTitle.infoTitle--notCenter.infoTitle--white Вам может понравиться
                    p.mayToLike__contentTopLeftText.infoText.infoText--white 
                        | Мы на постоянной основе пополняем
                        | коллекцию выполненных проектов

                .mayToLike__contentTopRight
                    .mayToLike__contentTopRightButton
                        span Рассчитать проект
                        img.intro__contentRightSideButtonImage(
                            src="assets/images/utils/arrowForButton--small.svg" alt="Стрелка" 
                            width=32 height=10
                        )
                
            .mayToLike__contentBottom
                .mayToLike__contentBottomItems
                    article.projects__item
                        a(href="").projects__itemImageWrapper
                            img.projects__itemImage(
                                src="assets/images/projects/rag.jpg" alt="Превью сайта"
                                width=650 height=520
                            )
                            img.projects__itemImageDecoration(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper
                            h2.projects__itemTitle Рибера Казань
                            .projects__itemTitleLine
                        p.projects__itemSuptitle Корпоративный сайт

                    article.projects__item
                        a(href="").projects__itemImageWrapper
                            img.projects__itemImage(
                                src="assets/images/projects/logistic.jpg" alt="Превью сайта"
                                width=650 height=520
                            )
                            img.projects__itemImageDecoration(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper
                            h2.projects__itemTitle Рибера Казань
                            .projects__itemTitleLine
                        p.projects__itemSuptitle Корпоративный сайт
                        
                    article.projects__item
                        a(href="").projects__itemImageWrapper
                            img.projects__itemImage(
                                src="assets/images/projects/polygonal.jpg" alt="Превью сайта"
                                width=650 height=520
                            )
                            img.projects__itemImageDecoration(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper
                            h2.projects__itemTitle Рибера Казань
                            .projects__itemTitleLine
                        p.projects__itemSuptitle Корпоративный сайт

                    article.projects__item
                        a(href="").projects__itemImageWrapper
                            img.projects__itemImage(
                                src="assets/images/projects/man.jpg" alt="Превью сайта"
                                width=650 height=520
                            )
                            img.projects__itemImageDecoration(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper
                            h2.projects__itemTitle Рибера Казань
                            .projects__itemTitleLine
                        p.projects__itemSuptitle Корпоративный сайт