section.about-us
    img.about-us__decoration-image--left(
        src="assets/images/about-us/about-us-decoration-image.svg" alt="Картинка с названием веб студии"
        width="102" height="560"
    )
    img.about-us__decoration-image--right(
        src="assets/images/about-us/eclipse.svg" alt="Картинка с названием веб студии"
        width="408" height="384"
    )

    .about-us__running-line.about-us__running-line-white
        ul.about-us__running-line-list.about-us__running-line-list-white
            li.about-us__running-line-list-item AGENCY
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item WEB
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item THYPOGRAPHY
            li.about-us__running-line-list-item AGENCY
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item WEB
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item THYPOGRAPHY
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item WEB
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item THYPOGRAPHY
            li.about-us__running-line-list-item AGENCY
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item WEB
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item THYPOGRAPHY

    .about-us__running-line.about-us__running-line-salad
        ul.about-us__running-line-list.about-us__running-line-list-salad
            li.about-us__running-line-list-item THYPOGRAPHY
            li.about-us__running-line-list-item MARKETING
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item AGENCY
            li.about-us__running-line-list-item WEB
            li.about-us__running-line-list-item THYPOGRAPHY
            li.about-us__running-line-list-item MARKETING
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item AGENCY
            li.about-us__running-line-list-item WEB
            li.about-us__running-line-list-item MARKETING
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item AGENCY
            li.about-us__running-line-list-item WEB
            li.about-us__running-line-list-item THYPOGRAPHY
            li.about-us__running-line-list-item MARKETING
            li.about-us__running-line-list-item STUDIO
            li.about-us__running-line-list-item DIGITAL SOLUTION
            li.about-us__running-line-list-item BRANDING
            li.about-us__running-line-list-item DEVELOPMENT
            li.about-us__running-line-list-item STRATEGY
            li.about-us__running-line-list-item AGENCY
            li.about-us__running-line-list-item WEB

    .about-us__container.container
        .about-us__left-side
            img.about-us__left-side-image(
                src="assets/images/about-us/left-side-image.jpg" alt="Фотография собеседования персонала студии"
                width="550" height="765"
            )

        .about-us__right-side
            .about-us__right-side-content
                .about-us__right-side-overtitle
                    p Несколько слов о нас
                    .about-us__right-side-overtitle-line

                h2.about-us__right-side-title
                    | Мы агентство стратегического
                    | цифрового развития
                h3.about-us__right-side-suptitle
                    | Мы команда стратегического цифрового маркетинга
                    | работаем по всему миру с крупнейшими брендами, мы верим
                    | что прогресс происходит только тогда, когда вы отказываетесь
                    | играть безопасно. Мы объединяем идеи и действия,
                    | и идеи с дизайном, технологическими данными для
                    | создавать впечатления от бренда, которые нравятся клиентам
                    | наши сервисы.

                .about-us__right-side-benefits
                    ul.about-us__right-side-benefits-list
                        li.about-us__right-side-benefits-list-item
                            span  10
                            | лет на
                            | рынке digital услуг
                        li.about-us__right-side-benefits-list-item
                            | Более
                            span  200
                            | сайтов запущено нами
                        li.about-us__right-side-benefits-list-item
                            | Ежедневно
                            | обслуживаем
                            span  42
                            | проекта
                        li.about-us__right-side-benefits-list-item
                            | Для нас
                            span  НЕТ
                            | невозможных
                            | задач

                .about-us__right-side-read-more
                    .about-us__right-side-read-more-circle

                    .about-us__right-side-read-more-content
                        a( href="#" ).about-us__right-side-read-more
                            | Узнать подробнее
                        //img.about-us__right-side-read-more-image(
                        //    src="assets/images/about-us/arrow-read-more.svg" alt="Фотография собеседования персонала студии"
                        //    width="55" height="35"
                        //)
