section.services
    .services__container.container
        .section__titles
            .section__titles-left
                .section__overtitle
                    p.section__overtitle-text Услуги
                    .section__overtitle-line

                .section__title
                    h3.section__title-title
                        | Широкий перечень
                        br
                        | услуг

            .section__titles__decoration-right
                img.services__decoration-right-image(
                    src="assets/images/services/decoration-right.svg" alt="Черная стрелка"
                    width="125" height="120"
                )

        .services__list-block
            ul.services__list
                li.services__list-item
                    .services__list-item-title-block
                        h4.services__list-item-title Разработка

                    .services__list-item-description
                        .services__list-item-description-overflow-line

                        .services__list-item-description-content
                            p.services__list-item-description-p
                                | Мы помогаем брендам выделяться с помощью потрясающего элегантного визуального дизайна.
                                | Наш дизайн в основном философия.
                            ul.services__list-item-description-list
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Разработка сайтов любой сложности
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Разработка сервисов
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Разработка чат-ботов и автоматизация

                    .services__list-item-read-more
                        .services__list-item-read-more-circle
                            .services__list-item-read-more-content
                                p.services__list-item-read-more-content-p Узнать подробнее
                                img.services__list-item-read-more-content-arrow(
                                    src="assets/images/services/arrow-read-more.svg" alt="Черная стрелка"
                                    width="23" height="23"
                                )

                li.services__list-item
                    .services__list-item-title-block
                        h4.services__list-item-title Привлечение трафика

                    .services__list-item-description.services__list-item-description--border-right

                        .services__list-item-description-content
                            p.services__list-item-description-p
                                | Мы помогаем брендам выделяться с помощью потрясающего элегантного визуального дизайна.
                                | Наш дизайн в основном философия.
                            ul.services__list-item-description-list
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Контекстная реклама
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p SEO оптимизация
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Таргетированная реклама
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p SMM

                    .services__list-item-read-more
                        .services__list-item-read-more-circle
                            .services__list-item-read-more-content
                                p.services__list-item-read-more-content-p Узнать подробнее
                                img.services__list-item-read-more-content-arrow(
                                    src="assets/images/services/arrow-read-more.svg" alt="Черная стрелка"
                                    width="23" height="23"
                                )

                li.services__list-item
                    .services__list-item-title-block
                        h4.services__list-item-title Комплексная аналитика

                    .services__list-item-description.services__list-item-description--border-right

                        .services__list-item-description-content
                            p.services__list-item-description-p
                                | Мы помогаем брендам выделяться с помощью потрясающего элегантного визуального дизайна.
                                | Наш дизайн в основном философия.
                            ul.services__list-item-description-list
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Digital маркетинг на аутсорсе
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Внедрение сквозной аналитики
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Настройка и внедрение CRM систем
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Аудит юзабилити / безопасности проектов

                    .services__list-item-read-more
                        .services__list-item-read-more-circle
                            .services__list-item-read-more-content
                                p.services__list-item-read-more-content-p Узнать подробнее
                                img.services__list-item-read-more-content-arrow(
                                    src="assets/images/services/arrow-read-more.svg" alt="Черная стрелка"
                                    width="23" height="23"
                                )

                li.services__list-item
                    .services__list-item-title-block.services__list-item-title-block--without-border.services__list-item-title-for-overflow-line
                        .services__list-item-title-overflow-line
                        h4.services__list-item-title Техническая поддержка

                    .services__list-item-description.services__list-item-description--border-right

                        .services__list-item-description-content
                            p.services__list-item-description-p
                                | Мы помогаем брендам выделяться с помощью потрясающего элегантного визуального дизайна.
                                | Наш дизайн в основном философия.
                            ul.services__list-item-description-list
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Работа с контентом
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Мониторинг работоспособности проектов
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Чистка сайтов от заражений и вирусов
                                li.services__list-item-description-list-item
                                    .services__list-item-description-list-item-line
                                    p Обслуживание и настройка серверов

                    .services__list-item-read-more
                        .services__list-item-read-more-circle
                            .services__list-item-read-more-content
                                p.services__list-item-read-more-content-p Узнать подробнее
                                img.services__list-item-read-more-content-arrow(
                                    src="assets/images/services/arrow-read-more.svg" alt="Черная стрелка"
                                    width="23" height="23"
                                )