section.intro

    img.blog__in-page-decoration-circle(
        src="assets/images/blog/decoration-circle.svg" alt="Декоративный круг"
        width="408" height="384"
    )
    img.blog__in-page-decoration-circle-with-line(
        src="assets/images/blog/decoration-circle-with-lines.svg" alt="Декоративный круг"
        width="548" height="548"
    )

    .container.container--blog__in-page
        .blog__in-page-header
            .blog__in-page-header--left
                .blog__in-page-header--left-title Блог
                .blog__in-page-header--left-breadcrumbs
                    a( href="blog.html" ).blog__in-page-header--left-breadcrumbs-item
                        .blog__in-page-header--left-breadcrumbs-item-text Блог
                        img.blog__in-page-header--left-breadcrumbs-item-arrow(
                            src="assets/images/blog/breadcrumbs-item-arrow.svg" alt="Стрелка"
                            width="6" height="6"
                        )
                    a( href="#" ).blog__in-page-header--left-breadcrumbs-item.blog__in-page-header--left-breadcrumbs-item--not-arrow
                        .blog__in-page-header--left-breadcrumbs-item-text Все записи
                        img.blog__in-page-header--left-breadcrumbs-item-arrow(
                            src="assets/images/blog/breadcrumbs-item-arrow.svg" alt="Стрелка"
                            width="6" height="6"
                        )

            .blog__in-page-header--right
                ul.blog__in-page-header--right-items
                    li.blog__in-page-header--right-item.blog__in-page-header--right-item--active
                        .blog__in-page-header--right-item-text Все
                    li.blog__in-page-header--right-item
                        .blog__in-page-header--right-item-text Категория 1
                    li.blog__in-page-header--right-item
                        .blog__in-page-header--right-item-text Категория 2
                    li.blog__in-page-header--right-item
                        .blog__in-page-header--right-item-text Категория 3

        .blog__in-page-gallery
            ul.blog__in-page-gallery-items
                ul.blog__in-page-gallery-items--squares
                    li.blog__in-page-gallery-item
                        a( href="blog-once-page.html" )
                            img.blog__in-page-gallery-item-image(
                                src="assets/images/blog/item-1-square.jpg" alt="Декоративное фото блога"
                                width="610" height="552"
                            )
                            .blog__in-page-gallery-item-footer
                                .blog__items-item-visible-block-top.blog__items-item-visible-block-top--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page SMM
                                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page 4 января 2023
                                .blog__items-item-visible-block-body
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item
                        a( href="blog-once-page.html" )
                            img.blog__in-page-gallery-item-image(
                                src="assets/images/blog/item-2-square.jpg" alt="Декоративное фото блога"
                                width="610" height="552"
                            )
                            .blog__in-page-gallery-item-footer
                                .blog__items-item-visible-block-top.blog__items-item-visible-block-top--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page SMM
                                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page 4 января 2023
                                .blog__items-item-visible-block-body
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item
                        a( href="blog-once-page.html" )
                            img.blog__in-page-gallery-item-image(
                                src="assets/images/blog/item-3-square.jpg" alt="Декоративное фото блога"
                                width="610" height="552"
                            )
                            .blog__in-page-gallery-item-footer
                                .blog__items-item-visible-block-top.blog__items-item-visible-block-top--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page SMM
                                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page 4 января 2023
                                .blog__items-item-visible-block-body
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                ul.blog__in-page-gallery-items--rectangles
                    li.blog__in-page-gallery-item
                        a( href="blog-once-page.html" )
                            img.blog__in-page-gallery-item-image(
                                src="assets/images/blog/item-1-rectangle-one.jpg" alt="Декоративное фото блога"
                                width="657" height="387"
                            )
                            .blog__in-page-gallery-item-footer
                                .blog__items-item-visible-block-top.blog__items-item-visible-block-top--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page SMM
                                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page 4 января 2023
                                .blog__items-item-visible-block-body
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item
                        a( href="blog-once-page.html" )
                            img.blog__in-page-gallery-item-image(
                                src="assets/images/blog/item-2-rectangle.jpg" alt="Декоративное фото блога"
                                width="658" height="389"
                            )
                            .blog__in-page-gallery-item-footer
                                .blog__items-item-visible-block-top.blog__items-item-visible-block-top--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page SMM
                                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page 4 января 2023
                                .blog__items-item-visible-block-body
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item
                        a( href="blog-once-page.html" )
                            img.blog__in-page-gallery-item-image(
                                src="assets/images/blog/item-3-rectangle.jpg" alt="Декоративное фото блога"
                                width="658" height="389"
                            )
                            .blog__in-page-gallery-item-footer
                                .blog__items-item-visible-block-top.blog__items-item-visible-block-top--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page SMM
                                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page 4 января 2023
                                .blog__items-item-visible-block-body
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item
                        a( href="blog-once-page.html" )
                            img.blog__in-page-gallery-item-image(
                                src="assets/images/blog/item-4-rectangle.jpg" alt="Декоративное фото блога"
                                width="658" height="389"
                            )
                            .blog__in-page-gallery-item-footer
                                .blog__items-item-visible-block-top.blog__items-item-visible-block-top--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page SMM
                                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page 4 января 2023
                                .blog__items-item-visible-block-body
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page
                                        | Важность ведения страниц вашего бизнеса в социальных сетях