section.intro
    h1.visibleHidden Популярные услуги

    img.intro__decorativeCircle(
        src="assets/images/utils/semicircle-to-right--gray.svg" alt="Декоративный круг" 
    )

    img.intro__decorativeCircleBg(
        src="assets/images/services/bgCircle.png" alt="Декоративный круг" 
    )

    .container
        .intro__contentTop
            .intro__contentLeftSide
                h2.intro__contentLeftSideSuptitle Популярные услуги
                h2.intro__contentLeftSideTitle
                    | Для выхода бизнеса
                    br
                    | на новый уровень

            .intro__contentLine

            .intro__contentRightSide
                .intro__contentRightSideButton
                    span Рассчитать проект
                    img.intro__contentRightSideButtonImage(
                        src="assets/images/utils/arrowForButton--small.svg" alt="Стрелка" 
                        width=32 height=10
                    )
        
        .intro__contentBottom
            article.intro__contentBottomItem
                a(href="").intro__contentBottomItemContent
                    img.intro__contentBottomItemContentImage(
                        src="assets/images/services/development.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter
                        .intro__contentBottomItemContentFooterPrice 
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine

            article.intro__contentBottomItem
                a(href="").intro__contentBottomItemContent
                    img.intro__contentBottomItemContentImage(
                        src="assets/images/services/setting.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter
                        .intro__contentBottomItemContentFooterPrice 
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine

            article.intro__contentBottomItem
                a(href="").intro__contentBottomItemContent
                    img.intro__contentBottomItemContentImage(
                        src="assets/images/services/modification.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter
                        .intro__contentBottomItemContentFooterPrice 
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine

            article.intro__contentBottomItem
                a(href="").intro__contentBottomItemContent
                    img.intro__contentBottomItemContentImage(
                        src="assets/images/services/seo.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter
                        .intro__contentBottomItemContentFooterPrice 
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine

            article.intro__contentBottomItem
                a(href="").intro__contentBottomItemContent
                    img.intro__contentBottomItemContentImage(
                        src="assets/images/services/support.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter
                        .intro__contentBottomItemContentFooterPrice 
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine

            article.intro__contentBottomItem
                a(href="").intro__contentBottomItemContent
                    img.intro__contentBottomItemContentImage(
                        src="assets/images/services/serm.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter
                        .intro__contentBottomItemContentFooterPrice 
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine
                    

                
        