include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/utils/burgerMenu

    include ../../views/circle/circle
          
    include ../../views/header/header 
    #butter
        main
            include ../../views/serviceDetail/intro
            include ../../views/serviceDetail/stack
            include ../../views/serviceDetail/costs
            include ../../views/serviceDetail/ourWorks
            include ../../views/services/offer
        include ../../views/footer/footer

    .wrapper(data-modal="1")
        .modal.modal--withLine
            img.modal__contentGlowingCircle(
                src="assets/images/modals/glowCircle.png" alt="Подсветка" 
                width=417 height=417
            )
            img.modal__contentLines(
                src="assets/images/modals/lines.svg" alt="Линии" 
            )
            img.modal__contentCross(
                src="assets/images/modals/cross.svg" alt="Крестик" 
                width=17 height=17
            )

            .modal__content
                form.modal__contentForm(action="" method="")
                    .modal__contentTexts
                        h4.modal__contentTitle Рассчитать стоимость
                        p.modal__contentText
                            | Заполните форму, и мы свяжемся с вами для подробного расчета стоимости работ
                    
                    .modal__contentInputsBlock
                        .modal__contentInputs
                            input.modal__contentInput(type="text" placeholder="Имя")
                            input.modal__contentInput(type="tel" placeholder="Телефон")
                        p.modal__contentInputsText
                            | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                            
                    .modal__contentButton
                        a.fillingButton.fillingButton--modal(href="")
                            svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 116 116" )
                                circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--modal( cx="58" cy="58" r="58" fill="transparent" )

                            .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--modal

                            .fillingButton__content
                                p.fillingButton__p
                                    span.fillingButton__span--smallMargin-and-partial Отпра
                                    | вить

    .wrapper(data-modal="2")
        .modal
            img.modal__contentGlowingCircle(
                src="assets/images/modals/glowCircle.png" alt="Подсветка" 
                width=417 height=417
            )
            img.modal__contentCircle(
                src="assets/images/modals/circle.svg" alt="круг" 
            )
            img.modal__contentCross(
                src="assets/images/modals/cross.svg" alt="Крестик" 
                width=17 height=17
            )

            .modal__content
                form.modal__contentForm(action="" method="")
                    .modal__contentTexts
                        h4.modal__contentTitle Бесплатная консультация
                        p.modal__contentText
                            | Заполните форму, и мы свяжемся с вами в ближайшее время для консультации
                    
                    .modal__contentInputsBlock
                        .modal__contentInputs
                            input.modal__contentInput(type="text" placeholder="Имя")
                            input.modal__contentInput(type="tel" placeholder="Телефон")
                        p.modal__contentInputsText
                            | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                            
                    .modal__contentButton
                        a.fillingButton.fillingButton--modal(href="")
                            svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 116 116" )
                                circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--modal( cx="58" cy="58" r="58" fill="transparent" )

                            .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--modal

                            .fillingButton__content
                                p.fillingButton__p
                                    span.fillingButton__span--smallMargin-and-partial Отпра
                                    | вить

    .wrapper(data-modal="3")
        .modal.modal--withLine
            img.modal__contentGlowingCircle(
                src="assets/images/modals/glowCircle.png" alt="Подсветка" 
                width=417 height=417
            )
            img.modal__contentLines(
                src="assets/images/modals/lines.svg" alt="Линии" 
            )
            img.modal__contentCross(
                src="assets/images/modals/cross.svg" alt="Крестик" 
                width=17 height=17
            )

            .modal__content
                form.modal__contentForm(action="" method="")
                    .modal__contentTexts
                        h4.modal__contentTitle Рассчитать стоимость
                        p.modal__contentText
                            | Заполните форму, и мы свяжемся с вами для подробного расчета стоимости работ
                    
                    .modal__contentInputsBlock
                        .modal__contentInputs
                            input.modal__contentInput(type="text" placeholder="Имя")
                            input.modal__contentInput(type="tel" placeholder="Телефон")
                        p.modal__contentInputsText
                            | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                            
                    .modal__contentButton
                        a.fillingButton.fillingButton--modal(href="")
                            svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 116 116" )
                                circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--modal( cx="58" cy="58" r="58" fill="transparent" )

                            .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--modal

                            .fillingButton__content
                                p.fillingButton__p
                                    span.fillingButton__span--smallMargin-and-partial Отпра
                                    | вить
        
// splide script
script( src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" )
// my js
script( src="./assets/js/serviceDetailIndex.js" )