section.stack
    h1.visibleHidden

    img.stackDecorativeCircletTop(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Декоративный круг" 
        width=378 height=378
    )

    img.stackDecorativeCircletBottom(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Декоративный круг" 
        width=378 height=378
    )

    .container
        .stack__content 
            .stack__contentTop
                h2.stack__contentTopTitle Используемый технологический стек
                .stack__contentTopButton
                    a.fillingButton.fillingButton--stackTop( href="" )
                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--stackTop( cx="102" cy="102" r="102" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--stackTop

                        .fillingButton__content
                            p.fillingButton__p.fillingButton__p--black
                                span.fillingButton__span--smallMargin Консультация

            .stack__contentMiddle
                .stack__contentMiddleItems
                    .stack__contentMiddleItem
                        .stack__contentMiddleItemHeader
                            .stack__contentMiddleItemHeaderIconWrapper
                                img.stack__contentMiddleItemHeaderIcon(
                                    src="assets/images/serviceDetail/laravel.svg" alt="Декоративная картинка" 
                                    width=35 height=36
                                )
                            .stack__contentMiddleItemHeaderTitle Laravel
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem
                        .stack__contentMiddleItemHeader
                            .stack__contentMiddleItemHeaderIconWrapper
                                img.stack__contentMiddleItemHeaderIcon(
                                    src="assets/images/serviceDetail/node.svg" alt="Декоративная картинка" 
                                    width=39 height=45
                                )
                            .stack__contentMiddleItemHeaderTitle Node JS
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem
                        .stack__contentMiddleItemHeader
                            .stack__contentMiddleItemHeaderIconWrapper
                                img.stack__contentMiddleItemHeaderIcon(
                                    src="assets/images/serviceDetail/laravel.svg" alt="Декоративная картинка" 
                                    width=39 height=45
                                )
                            .stack__contentMiddleItemHeaderTitle Python django
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem
                        .stack__contentMiddleItemHeader
                            .stack__contentMiddleItemHeaderIconWrapper
                                img.stack__contentMiddleItemHeaderIcon(
                                    src="assets/images/serviceDetail/vue.svg" alt="Декоративная картинка" 
                                    width=40 height=32
                                )
                            .stack__contentMiddleItemHeaderTitle Vue.js
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem
                        .stack__contentMiddleItemHeader
                            .stack__contentMiddleItemHeaderIconWrapper
                                img.stack__contentMiddleItemHeaderIcon(
                                    src="assets/images/serviceDetail/react.svg" alt="Декоративная картинка" 
                                    width=35 height=29
                                )
                            .stack__contentMiddleItemHeaderTitle React
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem
                        .stack__contentMiddleItemHeader
                            .stack__contentMiddleItemHeaderIconWrapper
                                img.stack__contentMiddleItemHeaderIcon(
                                    src="assets/images/serviceDetail/sql.svg" alt="Декоративная картинка" 
                                    width=46 height=32
                                )
                            .stack__contentMiddleItemHeaderTitle MySQL
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами
 
            .stack__contentBottom
                .stack__contentBottomItems
                    .stack__contentBottomItem
                        .stack__contentBottomItemIconWrapper
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/deepAnal.svg" alt="Декоративная картинка" 
                                width=83 height=79
                            )
                        h3.stack__contentBottomItemTitle Глубокая аналитика
                        p.stack__contentBottomItemText
                            | Анализ конкурентов, лучших решений, бизнес - интервью, веб-аналитика 
                            | наработанный опыт
        
                    .stack__contentBottomItem
                        .stack__contentBottomItemIconWrapper
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/lamp.svg" alt="Декоративная картинка" 
                                width=60 height=76
                            )
                        h3.stack__contentBottomItemTitle Управление вниманием
                        p.stack__contentBottomItemText
                            | Сокращение пути пользователя к 
                            | целевому действию и скорость работы

                    .stack__contentBottomItem
                        .stack__contentBottomItemIconWrapper
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/methods.svg" alt="Декоративная картинка" 
                                width=93 height=60
                            )
                        h3.stack__contentBottomItemTitle Гибкие методологии
                        p.stack__contentBottomItemText
                            | Гарантируют Вам полную прозрачность
                            | всего процесса разработки веб сервиса

                    .stack__contentBottomItem
                        .stack__contentBottomItemIconWrapper
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/toMarket.svg" alt="Декоративная картинка" 
                                width=93 height=60
                            )
                        h3.stack__contentBottomItemTitle Сокращение time to market
                        p.stack__contentBottomItemText
                            | Выделение ключевого и побочного функционала помогает нам быстрее
                            | выпустить новый продукт на рынок